<br />
<div id="footer" *ngIf="this.router.url === '/'">
     <div id="footer-links" class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <label>Book a Vacation</label>
                <ul class="list-group footer-list">
                    <li ><a href="#">Book Online</a></li>
                    <li ><a href="#">Get a Price Quote</a></li>
                    <li ><a href="#">View Specials</a></li>
                    <li ><a href="#">Find your Sandals</a></li>
                    <li ><a href="#">Find a Travel Agent</a></li>
                    <li ><a href="#">Meet a Sandals Specialist</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <label>Already Booked?</label>
                <ul class="list-group footer-list">
                    <li ><a href="#">Check-in Online</a></li>
                    <li ><a href="#">Book Optional Extras</a></li>
                    <li ><a href="#">Make a Balance Payment</a></li>
                    <li ><a href="#">Select your Butler Preferences</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <label>The Resorts</label>
                <ul class="list-group footer-list">
                    <li ><a href="#">Jamaica Resorts</a></li>
                    <li ><a href="#">St. Lucia Resorts</a></li>
                    <li ><a href="#">Antigua Resorts</a></li>
                    <li ><a href="#">Bahamas Resorts</a></li>
                    <li ><a href="#">Grenada Resorts</a></li>
                    <li ><a href="#">Barbados Resorts</a></li>
                    <li ><a href="#">View Resort Photos</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <label>WeddingMoons®</label>
                <ul class="list-group footer-list">
                    <li ><a href="#">Weddings</a></li>
                    <li ><a href="#">Honeymoons</a></li>
                    <li ><a href="#">Vow Renewals</a></li>
                    <li ><a href="#">Anniversaries</a></li>
                    <li ><a href="#">Wedding Groups</a></li>
                    <li ><a href="#">Wedding News</a></li>
                    <li ><a href="#">Wedding Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

