<div id="main-container" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left media-middle">
                    <img src="http://via.placeholder.com/150x350" class="media-object">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Spend your vacation here!</h4>
                    <p>Luxury Included® Vacation
                        FOR TWO PEOPLE IN LOVE
                        Come experience the very pinnacle of luxury Caribbean all-inclusive vacations with Sandals Resorts. Sandals delights couples in love with supreme vacation packages at luxury resorts in St. Lucia, Jamaica, Antigua, the Bahamas, Grenada and Barbados, featuring gourmet candlelit dining for two, gorgeous tropical settings and some of the world's most exquisite beaches, where golf and scuba are included at each all-inclusive resort. If you are planning a wedding, Sandals is the leader in Caribbean destination weddings and honeymoon packages.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <img src="http://via.placeholder.com/150x150">
                </div>
                <div class="col-md-3">
                    <img src="http://via.placeholder.com/150x150">
                </div>
                <div class="col-md-3">
                    <img src="http://via.placeholder.com/150x150">
                </div>
                <div class="col-md-3">
                    <img src="http://via.placeholder.com/150x150">
                </div>
            </div>
            <div class="mini-space"></div>
            <div class="row">
                <div class="col-md-12">
                    <img src="http://via.placeholder.com/920x150">
                </div>
            </div>
        </div>
    </div>
    <div class="mini-space"></div>
    <div class="row">
        <div class="col-md-6">
            <img src="http://via.placeholder.com/920x350"/>
        </div>
        <div class="col-md-6">
            <img src="http://via.placeholder.com/920x350"/>
        </div>
    </div>
    <div class="mini-space"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="media">
                <div class="media-left media-middle">
                    <img src="http://via.placeholder.com/350x350" class="media-object">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media Middle</h4>
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left media-middle">
                    <img src="http://via.placeholder.com/350x350" class="media-object">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media Middle</h4>
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left media-middle">
                    <img src="http://via.placeholder.com/350x350" class="media-object">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media Middle</h4>
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
    </div>
</div>
